//
.nativead-frm, .tracking-3nd {
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}
.nativead-frm fieldset {
    display: none;
}
.nativead-frm fieldset.active {
    display: block;
}
.nativead-btn-group {
    display: flex;
    justify-content: space-between;
}
.btn-generate {
    display: none;
}

#trackingModal .modal-footer {
    text-align: center !important;
}
.tracking-group {
    display: flex;
}
.tracking-group label {
    width: 25%;
    align-self: center;
}


