#table_3a03_0{border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;text-align:center;height:100%;width:100%;background:#fff;margin:0;max-width:100%; max-height:900px;zoom:0.75}
#tr_3a03_0{padding:0;vertical-align:top;text-align:center}
#td_3a03_0{word-break:break-word;padding:0;vertical-align:top;text-align:center;margin:0;border-collapse:collapse!important}
#center_3a03_0{width:100%;min-width:640px}
#table_3a03_1{border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;text-align:inherit;width:617px;margin:0 auto; }
#tr_3a03_1{padding:0;vertical-align:top;text-align:center}
#td_3a03_1{word-break:break-word;padding:0;vertical-align:top;text-align:center;margin:0;border-collapse:collapse!important}
#table_3a03_2{border-spacing:0;border-collapse:collapse;padding:0px;vertical-align:top;text-align:center;width:100%; margin-bottom: 50px;}
#tr_3a03_2{padding:0;vertical-align:top;text-align:center}
#td_3a03_2{word-break:break-word;padding:0;vertical-align:top;text-align:center;margin:0;padding-right:0px;border-collapse:collapse!important}
#table_3a03_3{border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;text-align:center;margin:0 auto;width:640px;margin-top: 15px}
#tr_3a03_3{padding:0;vertical-align:top;text-align:center;}
#td_3a03_3{word-break:break-word;padding:0;vertical-align:top;text-align:center;margin:0;border-collapse:collapse!important}
#div_3a03_0{overflow:hidden;min-height: 454px;padding-bottom: 0; border-left: 1px solid #ccc; border-right:1px solid #ccc; border-top:1px solid #ccc;}
#div_3a03_1{text-align: left;margin-bottom: 35px;margin-top:10px;padding-left: 15px;}
#a_3a03_0{display: inline-block;}
#img_3a03_0{width:130px; margin-right: 10px;}
#span_3a03_0{margin:0;padding:0;font-size:25px;color:#be2d69;font-family:'Josefin Sans', Arial, sans-serif;text-transform: uppercase;font-weight: bold; padding-left: 10px; border-left: 1px solid #be2d69;}
#div_3a03_2{text-align: center;color: #29256a;text-transform: uppercase;font-size: 20px;margin-bottom: 20px; font-family:'Josefin Sans', Arial, sans-serif;}
#h2_3a03_0{margin: 0; padding: 0;font-weight: normal;}
#h2_3a03_1{margin: 0; padding: 0;font-weight: bold;}
#div_3a03_3{background: url('https://lh3.googleusercontent.com/p78pR24nioF2Iod1mbURztUzGxVpVF83hDg_YnsBByU_1rD1Xp9hYIQ0XK7D25ASCtj1HUFdZmuy3H1d1yJtB6Fz_Rq_kWqmvhuqeIutTLG9ojEtvhBfAAHw41uO2_NrWfqgUGiOeh-pUL_ODawxf6FB5O8__ZY-hLjfi1dQE5djc9IY2ZpJHqM2J_tqZ9FuFgsm2xUsrG8OZWORRtCZH6vC7EzsntCFKoZnBNSr0bFryo6IVAixGTVw_pi3IkSmUAmZLR_6OpoOiJgyRO8LxflqpCaQ94s1W8oHbzWPsjVwcG2jT9_99ODHtnYpKr3UN-EyIt8SZJC2yrzO4cC6rDPuA_MsWGrxQxWcVuiQBX4k2aW_Aw5mYkdVQr6fYUKmf394BdFFtogzmGaT-EsiFjH9b8T5C1GgDxMYXDF8iZJcsu1Y6vNm9jGVIIiVD2vCQ0j1Kh3zhn5IrM9EWUDaO-ORSZozdA3_42UTrHKh2_PD-h7o-hmli28v285AWcnvwtg_4gEzL5TnAZWcPoY_2E-Id6dLAhdzUihQDS-0-7bBcGGKuZ26l2awNIhtdGbQ-Gv80eDU3SJLHVBwzKRj2P1X4cWjyIEQYVhl3Nm_mxZdejw1K6rdtl9jyg=w2880-h1494') no-repeat;background-size: cover; min-height:335px;}
#div_3a03_4{text-align: left; padding-top: 250px; padding-left: 20px;}
#p_3a03_0{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 20px; color: #fff;margin-bottom: 5px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
#p_3a03_1{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 15px; color: #fff;margin-bottom: 5px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
#p_3a03_2{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 20px; color: #fff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
#div_3a03_5{margin: auto auto;padding: 30px 30px 30px;}
#div_3a03_6{display: flex;flex-wrap: no-wrap; margin-bottom: 20px;}
#div_3a03_7{flex: 35%;width: 35%;}
#p_3a03_3{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #be2d69;text-align:left;float: left;}
#span_3a03_1{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #be2d69;float:right;}
#div_3a03_8{flex: 70%;width: 70%;text-align:left;padding-left: 20px;}
#p_3a03_4{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #000;margin-bottom: 3px;}
#span_3a03_2{margin: 0; padding: 0;font-weight: normal;font-family:'Josefin Sans', Arial, sans-serif;font-size: 14px; color: #000;font-style:italic;}
#div_3a03_9{display: flex;flex-wrap: no-wrap; margin-bottom: 20px;}
#div_3a03_10{flex: 35%;width: 35%;}
#p_3a03_5{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #be2d69;text-align:left;float: left;}
#span_3a03_3{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #be2d69;float:right;}
#div_3a03_11{flex: 70%;width: 70%;text-align:left;padding-left: 20px;}
#p_3a03_6{margin: 0; padding: 0;font-weight: bold;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #000;margin-bottom: 3px;}
#div_3a03_12{display: flex;flex-wrap: no-wrap; margin-bottom: 20px;}
#div_3a03_13{flex: 35%;width: 35%;}
#p_3a03_7{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #be2d69;text-align:left;float: left;}
#span_3a03_4{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #be2d69;float: right;}
#div_3a03_14{flex: 70%;width: 70%;text-align:left;padding-left: 20px;}
#p_3a03_8{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #000;margin-bottom: 3px;}
#div_3a03_15{display: flex;flex-wrap: no-wrap; margin-bottom: 20px;}
#div_3a03_16{flex: 35%;width: 35%;}
#p_3a03_9{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #be2d69;text-align:left;float: left;}
#span_3a03_5{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #be2d69;float: right;}
#div_3a03_17{flex: 70%;width: 70%;text-align:left;padding-left: 20px;}
#p_3a03_10{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #000;margin-bottom: 3px;text-decoration: none;}
#div_3a03_18{display: none;flex-wrap: no-wrap; margin-bottom: 20px;}
#div_3a03_19{flex: 35%;width: 35%;}
#p_3a03_11{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #be2d69;text-align:left;float: left;}
#span_3a03_6{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #be2d69;float: right;}
#div_3a03_20{flex: 70%;width: 70%;text-align:left;padding-left: 20px;}
#p_3a03_12{margin: 0; padding: 0;font-weight: bold;text-transform: uppercase;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #000;margin-bottom: 3px;}
#span_3a03_7{margin: 0; padding: 0;font-weight: normal;font-family:'Josefin Sans', Arial, sans-serif;font-size: 14px; color: #000;font-style:italic;}
#div_3a03_21{display: flex;flex-wrap: no-wrap;padding: 0px 35px 5px;}
#div_3a03_22{max-width: 20%;margin-bottom: 20px;}
#img_3a03_1{width: 100%;}
#div_3a03_23{text-align: left;padding-left: 15px;}
#p_3a03_13{margin: 0; padding: 0;font-weight: 600;font-family:'Josefin Sans', Arial, sans-serif;font-size: 14px; color: #000; margin-bottom: 12px; line-height: 16px;}
#p_3a03_14{margin: 0; padding: 0;font-weight: 600;font-family:'Josefin Sans', Arial, sans-serif;font-size: 14px; color: #000; margin-bottom: 12px;line-height: 16px;}
#p_3a03_15{margin: 0; padding: 0;font-weight: 600;font-family:'Josefin Sans', Arial, sans-serif;font-size: 14px; color: #000;line-height: 16px;}
#a_3a03_1{text-decoration: none; color: #000;}
#div_3a03_24{text-align: center;}
#p_3a03_16{margin: 0; padding: 0;font-weight: 600;font-family:'Josefin Sans', Arial, sans-serif;font-size: 16px; color: #000;margin-bottom: 7px; text-transform: uppercase;margin-top:10px;line-height: 20px;}
#p_3a03_17{margin: 0; padding: 0;font-weight: 600;font-family:'Josefin Sans', Arial, sans-serif;font-size: 10px; color: #000;margin-bottom: 7px; text-transform: uppercase;margin-top:10px;letter-spacing: 2px;}
#a_3a03_2{text-decoration: none; color: #000;}
#div_3a03_25{display: table-cell; font-size: 0px;}
#img_3a03_2{width: 100%;}
#td_3a03_4{word-break:break-word;padding:0!important;vertical-align:top;text-align:center;margin:0;width:0px;border-collapse:collapse!important}
table
{
    border-collapse:unset !important;
}
@media print {
    .bg-print{
        -webkit-print-color-adjust: exact;
    }
}
